* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@font-face {
    font-family: harabara;
    src: url(fonts/Harabara\ Mais\ Demo.otf);
}

@font-face {
    font-family: montserrat-bold;
    src: url(fonts/Montserrat-SemiBold.ttf);
}

@font-face {
    font-family: montserrat-regular;
    src: url(fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: montserrat-light;
    src: url(fonts/Montserrat-ExtraLight.ttf);
}

:root {
    --color-oscuro: #0719ff;
    --color-oscuro-opacidad: #0719ff86;
    --color-claro: #c4d5f7;
    --color-gris: #191919;
    --color-fondo-marcas: #ffffff99;
}


/* index.html */
.fondo {
    width: 100%;
    min-height: 100vh;
    background-color: var(--color-claro);
    padding: 36px;
}

.front {
    width: 100%;
    min-height: 82vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu {
    display: flex;
    width: 100%;
    align-items: center;
}

.isotipo-img {
    width: 48px;
    position: fixed;
}


.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color-oscuro-opacidad);
    gap: 24px;
}

.logo {
    height: 200px;
}

.sub1 {
    text-align: center;
    font-family: montserrat-bold;
}

.links {
    display: flex;
    justify-content: center;
    gap: 62px;
    margin-top: 32px;
    color: var(--color-oscuro-opacidad);
    font-family: montserrat-bold;
}

.link {
    color: var(--color-oscuro-opacidad);
    text-decoration: none;
    list-style: none;
}

.link:hover {
    color: var(--color-oscuro);
    transform: scale(1.15);
    transition: 0.5s ease;
}


@media (max-width: 800px) {
    .logo {
        height: 156px;
    }

    .sub1 {
        text-align: center;
        font-family: montserrat-bold;
        font-size: 24px;
    }
}

/* menu nav */
.isotipo__menu {
    display: flex;
    gap: 16px;
    align-items: center;
    color: var(--color-oscuro);
}

.isotipo__textos {
    display: flex;
    align-items: center;
}

.isotipo__menu-bamfer {
    font-size: 24px;
    font-family: harabara;
}

.isotipo__menu-nombre {
    font-size: 16px;
    font-family: montserrat-bold;
}

/* menu main */
.menu__container {
    width: 100%;
    min-height: 82vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu__apartados-lista {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 48px;
    width: 50%;
}

.menu__apartado {
    list-style: none;
    font-family: harabara;
    font-size: 62px;
}

.menu__apartado-enlace {
    color: var(--color-oscuro);
    text-decoration: none;
}

.menu__apartado-enlace:hover {
    color: var(--color-oscuro-opacidad);
}

.menu_contacto {
    align-items: flex-start;
}

.sobreMi_botones {
    display: flex;
    gap: 24px;
    margin-top: 32px;
}

.sobreMi_contacto {
    color: var(--color-oscuro);
    font-family: montserrat-regular;
    list-style: none;
    display: flex;
    gap: 24px;
}

/* proyectos.html */

.main__proyectos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sobreMI__enlace {
    font-family: harabara;
    font-size: 24px;
    color: var(--color-oscuro);
    position: absolute;
    top: 36px;
    right: 36px;
    text-decoration: none;
}

.sobreMI__enlace:hover {
    color: var(--color-gris);
}

.container__proyectos {
    width: 100%;
    min-height: 82vh;
    display: flex;
    justify-content: flex-end;
    margin-top: 32px;
    gap: 56px;
}

.proyectos__imgCont {
    width: 40%;
    height: 48%;
    border-radius: 16px;
    border: 1px solid var(--color-oscuro);
    position: absolute;
    top: 156px;
    left: 92px;
}

.proyectos__imgCont-lettre {
    background-image: url(img/marcas/portadas/2-lettre.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.proyectos__explicacion {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 12px;
    position: fixed;
    bottom: 48px;
    left: 92px;
    width: 40%;
    margin-right: 16px;
}

.proyectos__h1 {
    color: var(--color-oscuro);
    font-family: harabara;
    font-size: 36px;
}

.proyectos__texto {
    color: var(--color-oscuro);
    font-family: montserrat-regular;
    font-size: 16px;
    letter-spacing: 2px;
    line-height: 1.5em;
}

.img__scroll {
    width: 48px;
    height: 48px;
    position: fixed;
    bottom: 56px;
}


.lista__proyectos {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 48px;
    width: 32%;
    margin-top: 56px;
}

.titulo__proyecto {
    font-family: harabara;
    text-decoration: none;
    color: var(--color-oscuro);
    font-size: 62px;
}

.titulo__proyecto:hover {
    color: var(--color-oscuro-opacidad);
}

.tema__proyecto {
    color: var(--color-oscuro);
    font-family: montserrat-regular;
    letter-spacing: 1px;
}

@media (max-width: 1200px) {
    .container__proyectos {
        gap: 24px;
    }

    .titulo__proyecto {
        font-size: 36px;
    }

    .tema__proyecto {
        font-size: 14px;
        letter-spacing: 1px;

    }

    .proyectos__h1 {
        font-size: 32px;
    }

    .proyectos__texto {
        font-size: 14px;
    }

    .img__scroll {
        width: 36px;
        height: 36px;
        right: 36px;
    }
}

/* sobreMi.html */
.proyectos__enlace {
    font-family: harabara;
    font-size: 24px;
    color: var(--color-oscuro);
    position: fixed;
    top: 36px;
    right: 36px;
    text-decoration: none;
}

.proyectos__enlace:hover {
    color: var(--color-gris);
}

.sobreMi__container {
    display: flex;
    width: 72%;
    height: 82vh;
    justify-content: space-around;
    gap: 48px;
}

.sobreMi__info {
    width: 56%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
}

.sobreMi__titulo {
    color: var(--color-oscuro);
    font-family: harabara;
    font-size: 36px;
}

.sobreMi__explicacion {
    color: var(--color-oscuro);
    font-family: montserrat-regular;
    letter-spacing: 2px;
    line-height: 1.5em;
}

/* botones */
.sobreMi_botones {
    display: flex;
    gap: 24px;
}

/* cv boton */
.CV_boton {
    text-decoration: none;
    background-color: var(--color-oscuro);
    color: var(--color-claro);
    border: 1px solid var(--color-oscuro);
    border-radius: 0px 32px;
    padding: 12px;
    text-align: center;
    width: 172px;
    font-family: montserrat-regular;
    font-size: 16px;
}

.CV_boton:hover {
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid var(--color-oscuro);
    color: var(--color-oscuro);
}

.sobreMi_contacto {
    color: var(--color-oscuro);
    font-family: montserrat-regular;
    list-style: none;
    display: flex;
    gap: 24px;
}

/* parte de insta */
.sobreMi-insta-deco {
    background-color: rgba(255, 255, 255, 0);
    color: var(--color-oscuro);
    border: 1px solid var(--color-oscuro);
    border-radius: 0px 32px;
    padding: 12px;
    text-align: center;
    width: 132px;
    height: 46px;
}

.sobreMi-insta-deco:hover {
    background-color: var(--color-oscuro-opacidad);
    border: 1px solid var(--color-claro);
}

.sobreMi_link-insta {
    text-decoration: none;
    color: var(--color-oscuro);
}

/* parte del correo */
.sobreMi-correo-deco {
    background-color: rgba(255, 255, 255, 0);
    color: var(--color-oscuro);
    border: 1px solid var(--color-oscuro);
    border-radius: 0px 32px;
    padding: 12px;
    text-align: center;
    width: 116px;
    height: 46px;
}

.sobreMi-correo-deco:hover {
    background-color: var(--color-oscuro-opacidad);
    border: 1px solid var(--color-claro);
}

.sobreMi_link-correo {
    text-decoration: none;
    color: var(--color-oscuro);
}


/* parte de la imagen */
.sobreMi__img {
    width: 40%;
    position: fixed;
    right: 0px;
    bottom: -6px;
}

.img-sobreMi {
    height: 972px;
}


/* @media (max-width: 2000px) {
    .img-sobreMi {
        height: 662px;
    }

    .sobreMi__container {
        width: 62%;
    }

    .movil--CV_boton {
        display: none;
    }
} */

@media (max-width: 1200px) {
    .sobreMi__info {
        width: 82%;
    }

    .sobreMi_botones {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .sobreMi__explicacion {
        font-size: 14px;
    }

    .sobreMi_contacto {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .CV_boton {
        height: 48px;
    }

    .sobreMi-insta-deco {
        height: 48px;
        width: 176px;
    }

    .sobreMi-correo-deco {
        height: 48px;
        width: 176px;
    }

    .sobreMi__img {
        width: 0px;
        right: 462px;
        bottom: -6px;
    }

    .img-sobreMi {
        height: 756px;
    }
}

@media (max-width: 900px) {
    .sobreMi__img {
        right: 392px;
    }

    .img-sobreMi {
        height: 624px;
    }
}

@media (max-width: 700px) {
    .sobreMi__img {
        right: 392px;
    }

    .img-sobreMi {
        height: 556px;
    }
}

/* pagina marca "plantilla"*/

.isotipo-marcas {
    width: 48px;
    position: fixed;
    top: 36px;
    left: 36px;
}

.fondo__marca {
    width: 100%;
    min-height: 100vh;
    background-color: var(--color-claro);
    padding: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card__marca {
    width: 80%;
    min-height: 56vh;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 32px;
    padding: 48px;
}

.x__marca {
    text-decoration: none;
    color: var(--color-gris);
    font-family: harabara;
    display: flex;
    justify-content: flex-end;
    font-size: 24px;
}

.x__marca:hover {
    color: var(--color-oscuro);
}

.datos-img__marca {
    width: 100%;
    display: flex;
    gap: 72px;
    justify-content: center;
}

.datos__marca {
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.tema__marca {
    font-family: montserrat-regular;
    letter-spacing: 2px;
    line-height: 1.5em;
}

.nombre__marca {
    font-family: harabara;
    font-size: 48px;
}

.texto__marca {
    color: var(--color-gris);
    font-family: montserrat-regular;
    letter-spacing: 1px;
    line-height: 1.3em;
}

.imagen__marca-ord {
    width: 40%;
}

.img__marca-ord {
    width: 100%;
}


/* lettre */
.tema__marca-lettre {
    color: #6A0B37;
}

.nombre__marca-lettre {
    color: #6A0B37;
}

/* sood */
.tema__marca-sood {
    color: #CA80AB;
}

.nombre__marca-sood {
    color: #CA80AB;
}

/* vision activa */
.tema__marca-vision {
    color: #D08AFA;
}

.nombre__marca-vision {
    color: #D08AFA;
}

/* etiqueta olimpo */
/* .tema__marca-olimpo {
    color: #82f425;
}
.nombre__marca-olimpo {
    color: #82f425;
} */


@media (max-width: 2000px) {
    .imagen__marca-movil {
        display: none;
    }

}

@media (max-width: 1200px) {
    .datos-img__marca {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 42px;
        justify-content: center;
    }

    .datos__marca {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    .imagen__marca-ord {
        display: none;
    }

    .imagen__marca-movil {
        display: block;
        width: 100%;
    }

    .img__marca-movil {
        width: 100%;
    }
}