* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@font-face {
    font-family: harabara;
    src: url(fonts/Harabara\ Mais\ Demo.otf);
}

@font-face {
    font-family: montserrat-bold;
    src: url(fonts/Montserrat-SemiBold.ttf);
}

@font-face {
    font-family: montserrat-regular;
    src: url(fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: montserrat-light;
    src: url(fonts/Montserrat-ExtraLight.ttf);
}

:root {
    --color-oscuro: #0719ff;
    --color-oscuro-opacidad: #0719ff86;
    --color-claro: #c4d5f7;
    --color-gris: #191919;
}


/* index.html */
.fondo {
    width: 100%;
    min-height: 100vh;
    background-color: var(--color-claro);
    padding: 36px;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}

.front {
    width: 100%;
    min-height: 89vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
    width: 96px;
    position: absolute;
    right: 56px;
}

.exclamacion {
    width: 48px;
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color-oscuro-opacidad);
    gap: 24px;
}

.logo {
    height: 200px;
}

.sub1 {
    text-align: center;
    font-family: montserrat-bold;
}

.links {
    display: flex;
    justify-content: center;
    gap: 62px;
    margin-top: 32px;
    color: var(--color-oscuro-opacidad);
    font-family: montserrat-bold;
}

.link {
    color: var(--color-oscuro-opacidad);
    text-decoration: none;
    list-style: none;
}

.link:hover {
    color: var(--color-oscuro);
    transform: scale(1.15);
    transition: 0.5s ease;
}



@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

/* proyectos.html */

.container__proyectos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.proyectos__h1{
    color: var(--color-oscuro);
    font-family: harabara;
    font-size: 56px;
}

.lista__proyectos{
    list-style: none;
}

.titulo__proyecto{
    font-family: montserrat-bold;
    text-decoration: none;
    color: var(--color-oscuro);
}