* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@font-face {
    font-family: harabara;
    src: url(fonts/Harabara\ Mais\ Demo.otf);
}

@font-face {
    font-family: montserrat-bold;
    src: url(fonts/Montserrat-SemiBold.ttf);
}

@font-face {
    font-family: montserrat-regular;
    src: url(fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: montserrat-light;
    src: url(fonts/Montserrat-ExtraLight.ttf);
}

:root {
    --color-oscuro: #0719ff;
    --color-oscuro-opacidad: #0719ff86;
    --color-claro: #c4d5f7;
    --color-gris: #191919;
}


/* index.html */
.fondo {
    width: 100%;
    min-height: 100vh;
    background-color: var(--color-claro);
    padding: 36px;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}

.front {
    width: 100%;
    min-height: 82vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu {
    display: flex;
    width: 100%;
    align-items: center;
}

.isotipo-img {
    width: 48px;
}

.exclamaciones {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
    width: 96px;
    position: absolute;
    right: 56px;
}

.exclamacion {
    width: 48px;
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color-oscuro-opacidad);
    gap: 24px;
}

.logo {
    height: 200px;
}

.sub1 {
    text-align: center;
    font-family: montserrat-bold;
}

.links {
    display: flex;
    justify-content: center;
    gap: 62px;
    margin-top: 32px;
    color: var(--color-oscuro-opacidad);
    font-family: montserrat-bold;
}

.link {
    color: var(--color-oscuro-opacidad);
    text-decoration: none;
    list-style: none;
}

.link:hover {
    color: var(--color-oscuro);
    transform: scale(1.15);
    transition: 0.5s ease;
}



@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

/* proyectos.html */

.main__proyectos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container__proyectos {
    width: 100%;
    min-height: 82vh;
    display: flex;
    justify-content: flex-end;
    margin-top: 32px;
}

.proyectos__explicacion {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 12px;
    position: fixed;
    bottom: 48px;
    left: 48px;
    width: 40%;
}

.proyectos__h1 {
    color: var(--color-oscuro);
    font-family: harabara;
    font-size: 36px;
}

.proyectos__texto {
    color: var(--color-oscuro);
    font-family: montserrat-regular;
    font-size: 16px;
}

.lista__proyectos {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 48px;
    width: 32%;
}

.proyecto__titulo-tema {}

.titulo__proyecto {
    font-family: harabara;
    text-decoration: none;
    color: var(--color-oscuro);
    font-size: 62px;
}

.titulo__proyecto:hover {
    color: var(--color-oscuro-opacidad);
}

.tema__proyecto {
    color: var(--color-oscuro);
    font-family: montserrat-regular
}

/* sobreMi.html */

.sobreMi__container {
    display: flex;
    width: 82%;
    height: 82vh;
    justify-content: space-around;
    gap: 48px;
}

.sobreMi__info {
    width: 62%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
}

.sobreMi__titulo {
    color: var(--color-oscuro);
    font-family: harabara;
    font-size: 36px;
}

.sobreMi__explicacion {
    color: var(--color-oscuro);
    font-family: montserrat-regular;
    font-size: 16px;
}

.CV_boton {
    background-color: var(--color-oscuro);
    color: var(--color-claro);
    border: 0.2px solid var(--color-oscuro);
    border-radius: 0px 32px;
    padding: 15px;
    text-align: center;
    width: 124px;
    font-family: montserrat-regular;
}

.CV_boton:hover {
    background-color: var(--color-oscuro-opacidad);
    border: none;
    transform: scale(1.1);
}

.sobreMi__img {
    width: 40%;
    position: fixed;
    right: 0px;
    bottom: -6px;
}

.img-sobreMi {
    height: 972px;
}