* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@font-face {
    font-family: harabara;
    src: url(fonts/Harabara\ Mais\ Demo.otf);
}

@font-face {
    font-family: montserrat-bold;
    src: url(fonts/Montserrat-SemiBold.ttf);
}

@font-face {
    font-family: montserrat-regular;
    src: url(fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: montserrat-light;
    src: url(fonts/Montserrat-ExtraLight.ttf);
}

:root {
    --color-oscuro: #0719ff;
    --color-oscuro-opacidad: #0719ff86;
    --color-claro: #c4d5f7;
    --color-gris: #191919;
}


/* index.html */
.fondo {
    width: 100%;
    min-height: 100vh;
    background-color: var(--color-claro);
    padding: 36px;
}

.front {
    width: 100%;
    min-height: 82vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu {
    display: flex;
    width: 100%;
    align-items: center;
}

.isotipo-img {
    width: 48px;
}

.exclamaciones {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
    width: 96px;
    position: absolute;
    right: 56px;
}

.exclamacion {
    width: 48px;
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color-oscuro-opacidad);
    gap: 24px;
}

.logo {
    height: 200px;
}

.sub1 {
    text-align: center;
    font-family: montserrat-bold;
}

.links {
    display: flex;
    justify-content: center;
    gap: 62px;
    margin-top: 32px;
    color: var(--color-oscuro-opacidad);
    font-family: montserrat-bold;
}

.link {
    color: var(--color-oscuro-opacidad);
    text-decoration: none;
    list-style: none;
}

.link:hover {
    color: var(--color-oscuro);
    transform: scale(1.15);
    transition: 0.5s ease;
}



@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

/* menu nav */
.isotipo__menu {
    display: flex;
    gap: 16px;
    align-items: center;
    color: var(--color-oscuro);
}

.isotipo__textos {
    display: flex;
    align-items: center;
}

.isotipo__menu-bamfer {
    font-size: 24px;
    font-family: harabara;
}

.isotipo__menu-nombre {
    font-size: 16px;
    font-family: montserrat-bold;
}

/* menu main */
.menu__container {
    width: 100%;
    min-height: 82vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu__apartados-lista {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 48px;
    width: 50%;
}

.menu__apartado{
    list-style: none;
    font-family: harabara;
    font-size: 62px;
}

.menu__apartado-enlace{
    color: var(--color-oscuro);
    text-decoration: none;
}
.menu__apartado-enlace:hover{
    color: var(--color-oscuro-opacidad);
}

.menu_contacto{
    align-items: flex-start; 
}

.sobreMi_botones {
    display: flex;
    gap: 24px;
    margin-top: 32px;
}

.sobreMi_contacto {
    color: var(--color-oscuro);
    font-family: montserrat-regular;
    list-style: none;
    display: flex;
    gap: 24px;
}

/* proyectos.html */

.main__proyectos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container__proyectos {
    width: 100%;
    min-height: 82vh;
    display: flex;
    justify-content: flex-end;
    margin-top: 32px;
}

.proyectos__explicacion {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 12px;
    position: fixed;
    bottom: 48px;
    left: 48px;
    width: 40%;
}

.proyectos__h1 {
    color: var(--color-oscuro);
    font-family: harabara;
    font-size: 36px;
}

.proyectos__texto {
    color: var(--color-oscuro);
    font-family: montserrat-regular;
    font-size: 16px;
}

.lista__proyectos {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 48px;
    width: 32%;
}

.proyecto__titulo-tema {}

.titulo__proyecto {
    font-family: harabara;
    text-decoration: none;
    color: var(--color-oscuro);
    font-size: 62px;
}

.titulo__proyecto:hover {
    color: var(--color-oscuro-opacidad);
}

.tema__proyecto {
    color: var(--color-oscuro);
    font-family: montserrat-regular
}

/* sobreMi.html */

.sobreMi__container {
    display: flex;
    width: 82%;
    height: 82vh;
    justify-content: space-around;
    gap: 48px;
}

.sobreMi__info {
    width: 56%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}

.sobreMi__titulo {
    color: var(--color-oscuro);
    font-family: harabara;
    font-size: 36px;
}

.sobreMi__explicacion {
    color: var(--color-oscuro);
    font-family: montserrat-regular;
    font-size: 16px;
}

/* botones */
.sobreMi_botones {
    display: flex;
    gap: 24px;
    margin-top: 32px;
}

/* cv boton */
.CV_boton {
    background-color: var(--color-oscuro);
    color: var(--color-claro);
    border: 1px solid var(--color-oscuro);
    border-radius: 0px 32px;
    padding: 15px;
    text-align: center;
    width: 172px;
    font-family: montserrat-regular;
    font-size: 16px;
}

.CV_boton:hover {
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid var(--color-oscuro);
    color: var(--color-oscuro);
}

.sobreMi_contacto {
    color: var(--color-oscuro);
    font-family: montserrat-regular;
    list-style: none;
    display: flex;
    gap: 24px;
}

/* parte de insta */
.sobreMi-insta-deco {
    background-color: rgba(255, 255, 255, 0);
    color: var(--color-oscuro);
    border: 1px solid var(--color-oscuro);
    border-radius: 0px 32px;
    padding: 12px;
    text-align: center;
    width: 132px;
}

.sobreMi-insta-deco:hover {
    background-color: var(--color-oscuro-opacidad);
    border: 1px solid var(--color-claro);
}

.sobreMi_link-insta {
    text-decoration: none;
    color: var(--color-oscuro);
}

/* parte del correo */
.sobreMi-correo-deco {
    background-color: rgba(255, 255, 255, 0);
    color: var(--color-oscuro);
    border: 1px solid var(--color-oscuro);
    border-radius: 0px 32px;
    padding: 12px;
    text-align: center;
    width: 116px;
}

.sobreMi-correo-deco:hover {
    background-color: var(--color-oscuro-opacidad);
    border: 1px solid var(--color-claro);
}

.sobreMi_link-correo {
    text-decoration: none;
    color: var(--color-oscuro);
}


/* parte de la imagen */
.sobreMi__img {
    width: 40%;
    position: fixed;
    right: 0px;
    bottom: -6px;
}

.img-sobreMi {
    height: 972px;
}

@media (max-width: 1450px) {
    .img-sobreMi {
        height: 662px;
    }

    .sobreMi__container {
        width: 62%;
    }
}